{% extends 'base.html' %} {% block content %} {% load crispy_forms_tags %}
<div
  class="container d-flex justify-content-center align-items-center min-vh-100"
>
  <div class="card shadow-sm border-0" style="max-width: 500px; width: 100%">
    <!-- Header -->
    <div class="card-header bg-white border-0 text-center py-4">
      <h3 class="mb-0 fw-semibold">Update Your Profile</h3>
      <p class="text-muted small mb-0">Update your profile information below!</p>
    </div>

    <!-- Body -->
    <div class="card-body px-4 py-3">
      <form method="post">
        {% csrf_token %}

        <div class="mb-3">{{ form|crispy }}</div>

        <button type="submit" class="btn btn-dark w-100 py-2">
          Update Profile
        </button>
      </form>
      <a href="{% url 'password_change' %}" class="btn btn-outline-secondary w-100 py-2 mt-2">
        Change Password
      </a>
    </div>
  </div>
</div>
{% endblock %}